<div class="container-fluid align-items-center justify-content-center p-3" id="container-fluid-section-three"
     style="background: #2e2e2e;">
  <div class="text-center" style="margin-top: 18px">
    <h1  style="color: #0651A9; margin-top: 18px">Gallery</h1>
  </div>
  <div class="mt-5">
    <div class="container">
      <div class="popup" role="alert">

      </div>

    </div>
      <owl-carousel-o [options]="customOptions2">
        <ng-container *ngFor="let slide of productImages">
          <ng-template carouselSlide let-owlItem>
            <div [@activeSlide]="owlItem.isCentered ? 'active' : 'inActive'" class="slide">
              <img style="object-fit: cover" [alt]="slide.alt" [src]="slide.src">
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>

  </div>
</div>

