<div class="container-fluid mt-5 mb-5" id="container-fluid-section-five">

  <div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center align-items-center justify-content-center">
        <div  class="me-5 ms-5 crd-service-four">
          <fa-icon [icon]="faMedal" class="fa-6x text-center align-items-center justify-content-center mt-4" style="color: #0651A9"></fa-icon>
          <h5 style="color: #232429" class="text-center ms-3 me-3 mt-4 mb-4">Trusted products and services</h5>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center align-items-center justify-content-center">
        <div  class="me-5 ms-5 crd-service-four">
          <fa-icon [icon]="faHandPointUp" class="fa-6x text-center align-items-center justify-content-center mt-4" style="color: #0651A9"></fa-icon>
          <h5 style="color: #232429" class="text-center ms-3 me-3 mt-4 mb-4">Industry leader for 17+ years</h5>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center align-items-center justify-content-center">
        <div  class="me-5 ms-5 crd-service-four">
          <fa-icon [icon]="faHandshake" class="fa-6x text-center align-items-center justify-content-center mt-4" style="color: #0651A9"></fa-icon>
          <h5 style="color: #232429" class="text-center ms-3 me-3 mt-4 mb-4">The expert choice of clients</h5>
        </div>
      </div>
      <div class="w-100 mt-5" ></div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center align-items-center justify-content-center">
        <div  class="me-5 ms-5 crd-service-four">
          <fa-icon [icon]="faHeadset" class="fa-6x text-center align-items-center justify-content-center mt-4" style="color: #0651A9"></fa-icon>
          <h5 style="color: #232429" class="text-center ms-3 me-3 mt-4 mb-4">Higher Customer
            satisfaction</h5>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center align-items-center justify-content-center">
        <div  class="me-5 ms-5 crd-service-four">
          <fa-icon [icon]="faWrench" class="fa-6x text-center align-items-center justify-content-center mt-4" style="color: #0651A9"></fa-icon>
          <h5 style="color: #232429" class="text-center ms-3 me-3 mt-4 mb-4">Excellent after
            sales service</h5>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center align-items-center justify-content-center">
        <div  class="me-5 ms-5 crd-service-four">
          <fa-icon [icon]="faTruck" class="fa-6x text-center align-items-center justify-content-center mt-4" style="color: #0651A9"></fa-icon>
          <h5 style="color: #232429" class="text-center ms-3 me-3 mt-4 mb-4">Islandwide service</h5>
        </div>
      </div>
    </div>
  </div>

</div>
