<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 text-center d-flex align-items-center justify-content-center square-cont">
      <div class="square">
        <div class="content">
          <div class="square-two">
            <div class="content">
              <img src="../../../../../assets/img/mainscale.png" class="d-block w-100 mainscale" alt="...">
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6" >
      <div>
        <div>
          <h5 class="text-start mt-4 txt-red" >Welcome to Neat, </h5>
          <h2 class="text-sub"> The <span class="txt-red">Leader</span> in importing,
            distributing, repairing
            and servicing of all
            <span class="txt-red">weighing solutions.</span>
          </h2>
        </div>
        <div>
          <p class="mt-4" style="font-size: 1.4vw;">We are the specialist in,</p>
        </div>

        <div class="ul-cover mt-4">
          <ul>
            <li class="li-item ">All Kinds of weighing scale products</li>
            <li class="li-item ">All Kinds of weighing scale services</li>
          </ul>
        </div>

        <div class="mt-4" >
          <button type="button" class="btn btn-viewmore">View more</button>
        </div>
      </div>
    </div>
  </div>
</div>
