.square-cont{
  padding-top: 6%;
  padding-bottom: 6%;
  align-items: center;
  align-self: center;
}


.square {
  width: 340px;
  height: 416px;
  border-radius: 14px;
  background: #D32427;
}

.square-two {
  width: 340px;
  height: 416px;
  margin-left: 12%;
  margin-top: -11%;
  padding-bottom: 10%;
  border-radius: 14px;
  background: #232429;
}

.mainscale{
  margin-left: 21%;
}

.text-start{
  font-family: Quicksand;
  font-size:30.4px;
  display: flex;
  flex-direction: row;
}

.hrtxt{
  content: "";
  opacity: 1;
  border-bottom: 2px solid #000;
  width: 180px;
  height: 3px;
}
//.text-start:after {
//  content: "";
//  flex: 1;
//  border-bottom: 2px solid #000;
//}



.txt-red{
  color: #D32427;
}

.text-sub{
  font-family: Rajdhani;
  font-size:44.6px;
}

.ul-cover{
  padding-top: 10px;
  padding-bottom: 0.3px;
  background: #232429;
  font-size: 17.88px;
  width: 399.6px;
  height: 81.4px;
  border-radius: 14px;
}

.li-item{
  color: white;
  list-style: none;
  font-family: Quicksand;
}

.li-item::before{
  /*font-size: 25px;*/
  content: " • ";
  color: #D32427;
}

.btn-viewmore{
  background: #D32427;
  color: white;
  font-family: Quicksand;
  font-size: 17px;
}
