.footer-section {
  background: #151414;
  position: relative;
}

.single-cta i {
  color: #0651A9;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {

}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
  font-family: Quicksand;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #0651A9;
}
.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #0651A9;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #0651A9;
  padding: 13px 20px;
  border: 1px solid #0651A9;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #151414;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a {
  color: #0651A9;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #0651A9;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}


.responsive-map{
  overflow: hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.responsive-map iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

#btnhome{
  color: #126AFE;
}

.home-icon-wr{
  background: white; width: 130px; height: 130px; border-radius: 100%
}

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  border-radius: 100%;
  background: #232429;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
}

.back-to-top:hover {
  opacity: 90%;
}

.hidden {
  opacity: 0%;
}

.back-to-top-icon {
  width: 2rem;
  height: 2rem;
  color: #7ac9f9;
}

.progress-bar {
  height: 0.1rem;
  background: #D32427;
  position: fixed;
  top: 0;
  left: 0;
}

.btn-message{
  background: #126AFE;
  border: 3px solid white;
  font-family: Quicksand;
  color: white;
}

ul {
  padding: 0px;
}

.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #0651A9;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.ico-phone{
  margin-left: 14px;
}

.txt-phone{
  margin-left: -15px;
}

.ico-mail{
  margin-left: 14px;
}

.txt-mail{
  margin-left: -15px;
}
