<!--====================================== FOOTER =============================================================-->



<footer class="container-fluid footer-section">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
      <div class="footer-logo mt-5 ms-3">
        <a href="index.html"><img src="assets/img/Logo.png" class="img-fluid" alt="logo"></a>
      </div>
      <div class="footer-social-icon mt-3 ms-3">
        <h2 style="color: white; font-family: Quicksand;">All Your<span style="color: #126AFE; font-family: Quicksand; font-weight: bold "> Scale <br></span>Needs</h2>
      </div>
      <div class="footer-widget ms-3">
        <div class="footer-widget-heading">
          <h3 class="txt-footer mt-4">Quick Links</h3>
        </div>
        <ul>
          <li><a [routerLink]="'./home'" (click)="scrollToTop()" href="#">Home</a></li>
          <li><a [routerLink]="'./aboutUs'" (click)="scrollToTop()" href="#">about</a></li>
          <li><a [routerLink]="'./services'" (click)="scrollToTop()" href="#">services</a></li>
          <li><a [routerLink]="'./products'" (click)="scrollToTop()" href="#">Products</a></li>
          <li><a [routerLink]="'./contactUs'" (click)="scrollToTop()" href="#">Contact</a></li>
        </ul>
      </div>
      <button type="button" class="ms-3 btn btn-message mt-4">Send Message&nbsp;<i class="fa-solid fa-paper-plane" style="color: #FFFFFF"></i></button>

    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
      <div class="responsive-map mt-5 me-3">-->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5596.969825498611!2d79.86042632644526!3d7.269692726224189!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae2e91ab3dcdcbb%3A0x562dc9a82948c5e2!2sRegal%20Motors%20(Pvt)%20Ltd!5e0!3m2!1sen!2slk!4v1645357581764!5m2!1sen!2slk" width="600" height="450" style="border:0;"  loading="lazy"></iframe>
      </div>
      <div class="row mt-1">
        <div class="col-auto">
          <fa-icon style="color: #126AFE" [icon]="faLocationArrow"></fa-icon>
        </div>
        <div class="col-auto">
          <h6 style="color: white; margin-left: -12px">176/1, Manaweriya, Chilaw Road, Kochchikade</h6>
        </div>
        <div class="col-auto">
          <fa-icon style="color: #126AFE" [icon]="faPhone" class="ico-phone"></fa-icon>
        </div>
        <div class="col-auto">
          <h6 style="color: white;" class="txt-phone">+94 71 2762673</h6>
        </div>
        <div class="col-auto ">
          <fa-icon style="color: #126AFE" [icon]="faEnvelope" class="ico-mail"></fa-icon>
        </div>
        <div class="col-auto ">
          <h6 style="color: white;" class="txt-mail">neatweighingscaleltd@yahoo.com</h6>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row me-2 justify-content-end mt-5">
      <div class="col-auto">
        <fa-icon [icon]="faFacebook" class="f-icons"></fa-icon>
      </div>
      <div class="col-auto">
        <fa-icon [icon]="faInstagram" class="f-icons"></fa-icon>
      </div>
      <div class="col-auto">
        <fa-icon [icon]="faTwitter" class="f-icons"></fa-icon>
      </div>
      <div class="col-auto">
        <fa-icon [icon]="faYoutube" class="f-icons"></fa-icon>
      </div>
    </div>
  </div>
  <hr style="border: 1px solid white">
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-xl col-lg text-center ">
          <div class="copyright-text align-items-center">
            <p>Copyright &copy; 2022 <span style="color: #126AFE">NEAT.</span> All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
<!--==============================================================================-->



<!--====================================== Home =============================================================-->
