.navbar-brand span{
  font-family: "Quicksand";
  font-size: 28px;
}

.text-one span{
  font-family: "Quicksand";
  font-size: 14px;
  color: #FFFFFF;
}


.top-bar{
  height: 25px;
}

.iconz{
  color: #126AFE;
}

.s-icons:hover{
  color: #126AFE;
}
.f-icons{
  color: white;
  cursor: pointer;
}
.f-icons:hover{
  color: #126AFE;
  cursor: pointer;
}

.text-nav span{
  font-family: "Quicksand";
  font-size: 16px;
  /*color: #232429;*/
}

.text-nav span:hover{
  color: #126AFE;
}

.buttonActive{
  color: #126AFE !important;
}

