<div class="container mb-5" id="container-fluid-section-one ">
  <div class="row" *ngFor="let folder of serviceImages">

<!--    =======================================================================-->

    <div class="col align-items-center justify-content-center">
    <mat-accordion class=" mt-5 d-flex align-items-center justify-content-center">
      <mat-expansion-panel hideToggle class="cover-one-5 row row-cols-auto">
        <mat-expansion-panel-header class="row row-cols-auto" style="height: auto">
                  <div class="ico-container-5 d-flex align-items-center justify-content-center ms-4 mt-3 mb-3">
                    <fa-icon [icon]="faBalanceScale" class="ico-service-5 fa-5x"></fa-icon>
                  </div>
                  <h1 class="txt-sub-head-5 ms-4 mt-5" style="color: white">{{folder.name}}</h1>
        </mat-expansion-panel-header>
        <div class="col me-3">
          <div class="d-flex align-items-center justify-content-center">
            <div class="cover-one-6 row row-cols-auto">

              <div class="col">
                <ul class="mt-4 ms-5 service-ul">
                  <li class="li-item">All Kinds of Scales Selling & Distributing</li>
                  <li class="li-item">All Kinds of Scales Selling & Distributing</li>
                  <li class="li-item">All Kinds of Scales Selling & Distributing</li>
                  <li class="li-item">All Kinds of Scales Selling & Distributing</li>
                </ul>
              </div>
              <div class="w-100"></div>
              <div class="img-row mt-4 mb-4 ms-4">
                <div class="row">
                  <div class="col ms-4 mt-3" >
                    <img [src]="folder.src" class="img-styles"  alt="img">
                  </div>
                  <div class="col ms-4 mt-3" >
                    <img [src]="folder.src" class="img-styles" alt="img">
                  </div>
                  <div class="col ms-4 mt-3">
                    <img [src]="folder.src" class="img-styles" alt="img">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
      </mat-expansion-panel>
    </mat-accordion>
    </div>
  </div>
</div>
