
<div class="container-fluid" id="container-fluid-section-one">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7 ms-4">
      <div>
        <div>
          <h5 class="text-start-2 mt-4 txt-red-2" >We are Neat Weighing Scale Systems</h5>
          <h2 class="text-sub-2">The <span class="txt-red-2">one-stop-place</span> for all your <span class="txt-red-2">weighing solution</span> needs</h2>
        </div>
        <div>
          <p class="mt-4" style="font-size: 1.3vw;">We, at Neat Weighing Scale Systems, are a specialist in delivering
            ideal end-to-end solutions for all types of weighing needs. Ranging
            from simple grocery weighing scales, more sophisticated Analytical,
            Density and Moisture Scales to Weighbridges and Weigh pads, Neat
            Weighing Scale Systems has been one of the pioneers in the industry
            for the past 18 years. <br>
            Neat Weighing Scale Systems (Pvt) Ltd was established in 2004 by
            Mr. Pathmanathan Mahesh, a vastly experienced technician and an
            expert widely known in the industry. Neat has grown
            ever since with his vision of delivering most technically advanced and
            top quality weighing solutions and services in Sri Lanka.
          </p>
        </div>

      </div>

    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4 text-center d-flex align-items-center justify-content-center square-cont">
      <div class="square">
        <div class="content">
          <div class="square-two">
            <div class="content">
              <img src="https://i.ibb.co/GCLC979/mainscale.png" alt="mainscale" border="0" class="d-block w-100 mainscale">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
