.card-one-3{
  width: 24vw;
  height: 48vh;
  background: #232429;
  border-radius: 10px;
}

.ico-customer-3{
  color: #126AFE;
}

.cover-one-3{
  background: #232429;
  font-size: 1.4vw;
  /*padding: 3%;*/
  width: 83vw;
  border-radius: 10px;
}
