<div class="container-fluid text-center d-flex align-items-center justify-content-center mt-5" id="container-fluid-section-one">
  <div style="background: #121212;border-radius: 14px">
    <div class="container">
      <div class="row crd-wrapper">
        <div class="col mt-4 ms-3 me-3 form-check">
          <div class="row mt-2" >
            <!--                      <a class="row mt-2" href="containerfluidProducts">-->
            <input (click)="clicked('All');scrollToDown()" autocomplete="off" class="btn-check " id="danger-outlinedj" name="options-outlined"
                   type="radio">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlinedj">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">All - Categories</h4>
                          </span>
            </label>
            <!--                      </a>-->
          </div>
        </div>

        <div class="col mt-4 ms-3 me-3  form-check">
          <div class="row mt-2">
            <input (click)="clicked('Platform');scrollToDown()" autocomplete="off" class="btn-check " id="danger-outlinedi" name="options-outlined"
                   type="radio">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlinedi">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">Platform & Floor Scales</h4>
                          </span>
            </label>

          </div>
        </div>

        <div class="w-100"></div>

        <div class="col mt-4 ms-3 me-3  form-check" >
          <div class="row mt-2">
            <input (click)="clicked('Indicator');scrollToDown()" autocomplete="off" class="btn-check " id="danger-outlinedh" name="options-outlined"
                   type="radio">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlinedh">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">Weighing Indiactors</h4>
                          </span>
            </label>
          </div>
        </div>

        <div class="col mt-4 ms-3 me-3  form-check" >
          <div class="row mt-2">
            <input (click)="clicked('Waterproof');scrollToDown()" autocomplete="off" class="btn-check " id="danger-outlinedg" name="options-outlined"
                   type="radio">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlinedg">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">WaterProof Scales</h4>
                          </span>
            </label>
          </div>
        </div>

        <div class="w-100"></div>

        <div class="col mt-4 ms-3 me-3  form-check" >
          <div class="row mt-2">
            <input (click)="clicked('Hanging');scrollToDown()" autocomplete="off" class="btn-check " id="danger-outlinedf" name="options-outlined"
                   type="radio">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlinedf">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">Hanging & Crane Scales</h4>
                          </span>
            </label>
          </div>
        </div>

        <div class="col mt-4 ms-3 me-3  form-check" >
          <div class="row mt-2">
            <input (click)="clicked('Weighbridge');scrollToDown()" autocomplete="off" class="btn-check " id="danger-outlinede" name="options-outlined"
                   type="radio">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlinede">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">Weighbrige & WeighPads</h4>
                          </span>
            </label>
          </div>
        </div>

        <div class="w-100"></div>

        <div class="col mt-4 ms-3 me-3  form-check" >
          <div class="row mt-2">
            <input (click)="clicked('App');scrollToDown()" autocomplete="off" class="btn-check " id="danger-outlinedb" name="options-outlined"
                   type="radio">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlinedb">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">Weighing Applications</h4>
                          </span>
            </label>
          </div>
        </div>

        <div class="col mt-4 ms-3 me-3  form-check" >
          <div class="row mt-2">
            <input (click)="clicked('Counting');scrollToDown()" autocomplete="off" class="btn-check " id="danger-outlineda" name="options-outlined"
                   type="radio">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlineda">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">Weighing & Counting Scales</h4>
                          </span>
            </label>
          </div>
        </div>

        <div class="w-100"></div>

        <div class="col mt-4 ms-3 me-3 mb-4 form-check" >
          <div class="row mt-2">
            <input (click)="clicked('Analytical');scrollToDown()" autocomplete="off" class="btn-check " id="danger-outlinedd" name="options-outlined"
                   type="radio">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlinedd">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">Analytical, Density & Moisture Scales</h4>
                          </span>
            </label>

          </div>
        </div>

        <div class="col mt-4 ms-3 me-3 mb-4 form-check" >
          <div class="row mt-2 ">
            <input (click)="clicked('Cells');scrollToDown()" autocomplete="off" checked class="btn-check " id="danger-outlined"
                   name="options-outlined" type="radio">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlined">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">Load Cells</h4>
                          </span>
            </label>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
