<div class="container-fluid text-center d-flex align-items-center justify-content-center mt-5" id="container-fluid-section-one">
  <div style="background: #121212;border-radius: 14px">
    <div class="container">
      <div class="row crd-wrapper">
        <div class="col mt-4 ms-3 me-3 form-check">
          <div class="row mt-2" >
            <!--                      <a class="row mt-2" href="containerfluidProducts">-->
            <input type="radio" class="btn-check " name="options-outlined" id="danger-outlinedj" autocomplete="off" (click)="clicked('All')">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlinedj">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">All - Categories</h4>
                          </span>
            </label>
            <!--                      </a>-->
          </div>
        </div>

        <div class="col mt-4 ms-3 me-3  form-check">
          <div class="row mt-2">
            <input type="radio" class="btn-check " name="options-outlined" id="danger-outlinedi" autocomplete="off" (click)="clicked('Platform')">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlinedi">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">Platform & Floor Scales</h4>
                          </span>
            </label>

          </div>
        </div>

        <div class="w-100"></div>

        <div class="col mt-4 ms-3 me-3  form-check" >
          <div class="row mt-2">
            <input type="radio" class="btn-check " name="options-outlined" id="danger-outlinedh" autocomplete="off" (click)="clicked('Indicator')">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlinedh">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">Weighing Indiactors</h4>
                          </span>
            </label>
          </div>
        </div>

        <div class="col mt-4 ms-3 me-3  form-check" >
          <div class="row mt-2">
            <input type="radio" class="btn-check " name="options-outlined" id="danger-outlinedg" autocomplete="off" (click)="clicked('Waterproof')">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlinedg">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">WaterProof Scales</h4>
                          </span>
            </label>
          </div>
        </div>

        <div class="w-100"></div>

        <div class="col mt-4 ms-3 me-3  form-check" >
          <div class="row mt-2">
            <input type="radio" class="btn-check " name="options-outlined" id="danger-outlinedf" autocomplete="off" (click)="clicked('Hanging')">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlinedf">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">Hanging & Crane Scales</h4>
                          </span>
            </label>
          </div>
        </div>

        <div class="col mt-4 ms-3 me-3  form-check" >
          <div class="row mt-2">
            <input type="radio" class="btn-check " name="options-outlined" id="danger-outlinede" autocomplete="off" (click)="clicked('Weighbridge')">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlinede">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">Weighbrige & WeighPads</h4>
                          </span>
            </label>
          </div>
        </div>

        <div class="w-100"></div>

        <div class="col mt-4 ms-3 me-3  form-check" >
          <div class="row mt-2">
            <input type="radio" class="btn-check " name="options-outlined" id="danger-outlinedb" autocomplete="off" (click)="clicked('App')">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlinedb">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">Weighing Applications</h4>
                          </span>
            </label>
          </div>
        </div>

        <div class="col mt-4 ms-3 me-3  form-check" >
          <div class="row mt-2">
            <input type="radio" class="btn-check " name="options-outlined" id="danger-outlineda" autocomplete="off" (click)="clicked('Counting')">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlineda">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">Weighing & Counting Scales</h4>
                          </span>
            </label>
          </div>
        </div>

        <div class="w-100"></div>

        <div class="col mt-4 ms-3 me-3 mb-4 form-check" >
          <div class="row mt-2">
            <input type="radio" class="btn-check " name="options-outlined" id="danger-outlinedd" autocomplete="off" (click)="clicked('Analytical')">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlinedd">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">Analytical, Density & Moisture Scales</h4>
                          </span>
            </label>

          </div>
        </div>

        <div class="col mt-4 ms-3 me-3 mb-4 form-check" >
          <div class="row mt-2 ">
            <input type="radio" class="btn-check " name="options-outlined" id="danger-outlined" autocomplete="off" checked (click)="clicked('Cells')">
            <label style="border-radius: 14px" class="btn btn-outline-danger " for="danger-outlined">
                          <span class="row">
                              <h4 class="col-auto" style="color: white">Load Cells</h4>
                          </span>
            </label>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
