.ul-cover-2{
  background: #232429;
  font-size: 19.88px;
  width: 567.6px;
  height: 413.4px;
  border-radius: 14px;
}

.li-item-2{
  color: white;
  list-style: none;
  font-family: Quicksand;
}

.li-item-2::before{
  /*font-size: 25px;*/
  content: " • ";
  color: #D32427;
}

.viewmore2{
  background: #D32427;
  color: white;
  font-family: Quicksand;
  font-size: 17.88px;
}

.square-cont{
  padding-top: 6%;
  padding-bottom: 6%;
  align-items: center;
  align-self: center;
}


.square {
  width: 480px;
  height: 556px;
  border-radius: 14px;
  background: #D32427;
}

.square-two {
  width: 480px;
  height: 556px;
  margin-left: 12%;
  margin-top: -11%;
  padding-bottom: 10%;
  border-radius: 14px;
  background: #232429;
}

.mainscale{
  margin-left: 21%;
}

.txt-sub-head-2{
  font-family: Rajdhani;
  color: white;
}

.owl-item > section {
  cursor: pointer;
  margin: 6% 8%;
  transition: margin 0.4s ease;
}

.cover-one{
  background: #D32427;
  font-size: 17.88px;
  width: 100%;
}
