<div class="container-fluid" id="container-fluid-section-two">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex align-items-center justify-content-center mb-5 mt-5">
      <div class="ul-cover-2 mt-4">
        <h1 class="text-center txt-sub-head-2 mb-4 mt-4">Our <span style="color: #D32427; font-family:RohnRounded ☞; " >Services</span></h1>
        <p class="mb-4 text-center align-items-center justify-content-center me-4 ms-4" style="color: white">We provide all types of solutions for any weighing
          requirement. From consultancy and solutions planning
          to importing, installation and after sales service,
          our clients enjoy a total solution under one roof.
          With no involvement from third parties or
          sub-contractors, we will be the direct supplier
          of all these services. </p>
        <div class="mt-4 text-center align-items-center justify-content-center" >
          <button type="button" class="btn viewmore2 mb-3">View more</button>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 d-flex align-items-center justify-content-center mb-5 mt-5">
      <div class="ul-cover-2  mt-4 text-center ul-cover-2-sub">
        <h1 class="text-center txt-sub-head-2 mb-4 mt-4">Our <span style="color: #D32427; font-family:RohnRounded ☞; ">Products</span></h1>
        <p class="mb-4  me-4 ms-4 mt-5" style="color: white">We direct import and distribute a range of products
          for any type of weighing needs. We deliver only the
          trusted and reliable products from leading brand
          names around the world.  </p>
        <div class="mt-5 text-center align-items-center justify-content-center" >
          <button type="button" class="btn viewmore2 viewmore3 mb-3">View more</button>
        </div>
      </div>
    </div>
  </div>
</div>
